<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
	</configSections>
	
	<connectionStrings>
  <add name="FIFAConnectionString" connectionString="Data Source=localhost\sql2008r2express;Initial Catalog=FIFA;Persist Security Info=True;User ID=fifa;Password=8UVEs7uf"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <dotless minifyCss="false" cache="false" />
	
	<system.webServer>
		<handlers>
			<add type="dotless.Core.LessCssHttpHandler,dotless.Core" path="*.less" verb="*" name="LessCSS" />
		</handlers>
	</system.webServer>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
</configuration>
